body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f2f4f7;
  color: #333;
   animation:  gradient 10s linear infinite;
  background: linear-gradient(270deg, #007bff, #00ffa2, #a8ff3f, #007bff);
  background-size: 600% 600%;
}
#header {
  background: #007bff;
  color: white;
  padding: 1rem;
  text-align: center;
  font-size: 3rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 0%;
}
header p{
  font-size: 1rem;
  background: #007bff;
  color: white;
  padding: 1rem;
  text-align: center;
  margin-top: 0%;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  justify-content: center;
 
  
}
@keyframes gradient {
  0% {
    background-position: 0% ;
  }
  25% {
    background-position: 50% ;
  }
  50% {
    background-position: 100% ;
  }
  75% {
    background-position: 50% ;
  }
  100% {
    background-position: 0% ;
  }
}

.form-container,
.preview-container {
  flex: 1 1 400px;
  background: rgb(255, 254, 246);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  border-left: #007bff 10px solid;
}

h2, h3 {
  margin-bottom: 1rem;
  color: #222;
}

input, textarea {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  box-sizing: border-box;
}

input[type="color"] {
  padding: 0.2rem;
  height: 40px;
  width: 25%;
}
.date {
  font-size: 1rem;
  color: #777;
  font-style: italic;
  margin-top: 5px;
  text-align: right;
}

.date-toggle {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  
  font-size: 1rem;
}
.date-toggle input {
  width: 20px;
  height: 20px;
  padding: 0%;
  cursor: pointer;
}

.button-group {
  display: flex;
  gap: 1rem;
}

button {
  padding: 0.7rem 1.5rem;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:focus {
  outline: 2px solid #0056b3;
  outline-offset: 2px;
}

button:hover {
  background: #0056b3;
}

.preview-container h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
  padding-bottom: 20px;
  
}
 #previewProjectDesc {
  border-bottom: var(--theme-color, #007bff) 2px solid
}
#previewExperience{
  border-bottom: var(--theme-color, #007bff) 2px solid
}
#previewEducation {
  border-bottom: var(--theme-color, #007bff) 2px solid
}
#previewAbout {
  border-bottom: var(--theme-color, #007bff) 2px solid
}
#previewSkills {
  border-bottom: var(--theme-color, #007bff) 2px solid
}
.preview-container p,
.preview-container li {
  margin-bottom: 0.6rem;
  line-height: 1.5;
  padding-bottom: 20px;
}

#previewSkills,
#previewLinks {
  padding-left: 1.2rem;
}

#previewSkills li,
#previewLinks li {
  list-style: disc;
}

/* Theme color controlled from JS */
.preview-container {
  border-left: 10px solid var(--theme-color, #007bff);
}
